<?xml version="1.0" encoding="UTF-8"?> 
<config>
  <projects>
    <project xml:lang="fre"> 
      <!-- @version TODO -->
      <projectName>AHN</projectName>
      <projectDb>ahn</projectDb>
      <projectAdmin>
        <adminName>admin</adminName>
        <adminPassword>admin</adminPassword>
      </projectAdmin> 
      <!-- subproject  -->
      <project xml:lang="fre"> 
        <!-- @version TODO -->
        <projectName>Hyperprince</projectName>
        <projectDb>hyperprince</projectDb>
        <projectAdmin>
          <adminName>admin</adminName>
          <adminPassword>admin</adminPassword>
        </projectAdmin> 
      </project>
    </project>
    <project xml:lang="fre">
      <projectName>blog</projectName>
      <projectDb>blog</projectDb>
      <projectAdmin>
        <adminName>admin</adminName>
        <adminPassword>admin</adminPassword>
      </projectAdmin>
    </project>
  </projects>
</config>